*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}
.box{
	width: 400px;
	height: 400px;
	background: red;

}

.box2{
	margin-left: 10px;
	width: 100px;
	background: blue;
}

.box .box2 span{
	display: inline-block;
	width: inherit;
	height: inherit;
	
	background:inherit;
	
}
